<!DOCTYPE HTML>
<html>
<head>
    <title>Purple_loginform Website Template | Home :: w3layouts</title>
    <link href="../../static/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- -->
    <script>var __links = document.querySelectorAll('a');

    function __linkClick(e) {
        parent.window.postMessage(this.href, '*');
    };
    for (var i = 0, l = __links.length; i < l; i++) {
        if (__links[i].getAttribute('data-t') == '_blank') {
            __links[i].addEventListener('click', __linkClick, false);
        }
    }</script>
    <script src="../../static/js/jquery.min.js"></script>
    <script>$(document).ready(function (c) {
        $('.alert-close').on('click', function (c) {
            $('.message').fadeOut('slow', function (c) {
                $('.message').remove();
            });
        });
    });
    </script>
</head>
<body>
<!-- contact-form -->
<div class="message warning">
    <div class="inset">
        <div class="login-head">
            <h1>Login</h1>
            <div class="alert-close"></div>
        </div>
        <form action="{%url 'regiterUser'%}" method="POST">
        {% csrf_token %}
        <li>
            <input type="text" class="text" value="账户名" name="username" onfocus="this.value = '';"
                   onblur="if (this.value == '') {this.value = 'Username';}"><a href="#" class=" icon user"></a>
        </li>
        <div class="clear"></div>
        <li>
            <input type="text" class="text" value="用户名" name="name" onfocus="this.value = '';"
                   onblur="if (this.value == '') {this.value = 'Name';}"><a href="#" class=" icon user"></a>
        </li>
        <div class="clear"></div>
        <li>
            <input type="text" class="text" value="电子邮件" name="email" onfocus="this.value = '';"
                   onblur="if (this.value == '') {this.value = 'Email';}"><a href="#" class=" icon user"></a>
        </li>
        <div class="clear"></div>
        <li>
            <input type="text" class="text" value="支付账户名" name="payname" onfocus="this.value = '';"
                   onblur="if (this.value == '') {this.value = 'Payname';}"><a href="#" class=" icon user"></a>
        </li>
        <div class="clear"></div>
        <li>
            <input type="password" value="密码" name="password" onfocus="this.value = '';"
                   onblur="if (this.value == '') {this.value = 'Password';}"> <a href="#" class="icon lock"></a>
        </li>
        <div class="clear"></div>
        <div class="submit">
            <input type="submit" onclick="myFunction()" value="提 交">
            <div class="clear"></div>
        </div>
        </form>

    </div>
</div>
</div>
<div class="clear"></div>
<!--- footer --->

</body>
</html>