<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>show</title>
    <script>
        function createRow(){
	var editTable=document.getElementById("tbody");
	var tr=document.createElement("tr");
	var td0=document.createElement("td");
	var td1=document.createElement("td");
	td1.innerHTML="";
	var td2=document.createElement("td");
	td2.innerHTML="a2";
	var td3=document.createElement("td");
	td3.innerHTML="a3";
	tr.appendChild(td0);
	tr.appendChild(td1);
	tr.appendChild(td2);
	tr.appendChild(td3);
	editTable.appendChild(tr);
}
    </script>
</head>
<body>
    <h1>
        闲置物品信息
    </h1>
    <table id="editTable" border="1" width="800">
		 <tr>
			<th>物品名称</th>
			<th>价格</th>
			<th>描述</th>
		 </tr>
		 <tbody id="tbody">

		 </tbody>
	 </table>

    <u1>
        {%for item in items%}
        <li>
            <a >{{item.iName}}</a>

            <a >{{item.iCost}}</a>

            <a >{{item.iDescribe}}</a>
        </li>
        {%endfor%}
    </u1>
    <h4><a href="addItem">发布物品</a></h4>
</body>
</html>